/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8d8cb;
    color: #333;
    line-height: 1.6;
    border: 2px solid white;
}

/* Cabeçalho */
header {
    background-color: #da9255;
    color: white;
    text-align: center;
    padding: 2rem 0;
    border-bottom: 2px solid white;

}


header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

/* Seções */
section {
    padding: 1rem;
    margin-bottom: -40px;
    
}

section p {
    text-align: justify;
    width: 75%;
    margin: 10px;
}


/* Sobre Mim */
#about img {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

/* Habilidades */
#skills {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#skills h2 {
    margin-top: 0;
}

#skills ul {
    list-style: none;
    padding-left: 0;
    margin: 10px;
}

#skills li {
    margin-bottom: 0.5rem;
}

/* Projetos */
.project {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



.project h3,
.project h2 {
    margin-top: 0;
}

/* Links de Detalhes de Projeto */
.project a {
    color: #3E6074;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: normal;
}

.project a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #da9255;
    color: white;
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid white;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    header, section, footer {
        padding: 2rem 0;
    }

    #about img {
        max-width: 80%;
        margin: 0 auto;
    }
}
